* {
  background-color: rgb(223, 189, 195);
}

input {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 35px;
  border: 0;
  background-color: #ff7575;
  border-radius: 5px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0;
  outline: none;
}

input[type="text"] {
  width: 50%;
  height: 50px;
  font-size: 28px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #ffffff;
}

li {
  width: 50%;
  padding: 10px;
  /* padding-left: 0px; */
  border: 2px solid white;
  margin-bottom: 20px;
}
